:root {
  --pColor1: #0C1821;
  --pColor2: #1B2A41;
  --pColor3: #324A5F;
  --pColor4: #839788;
  --pColor5: #EDEBD7;
  --color1: #0C1821;
  --color2: #1B2A41;
  --color3: #324A5F;
  --color4: #839788;
  --color5: #EDEBD7;
  color: var(--light-dark-color-1);
  background-color: var(--light-dark-color-2);
}

html,
body {
 padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--color5);
  }    

* {
  box-sizing: border-box;
}

   a {
 color: #0070f3;
 text-decoration: none;
  }

a:hover {
 text-decoration: underline;
   }

 img {
 max-width: 100%;
 display: block;
}    

body {
  margin: 0 !important;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
}

#a{
  color:var(--color1)
}

#b{
  color:var(--color2)
}

#c{
  color:var(--color3)
}

#d{
  color:var(--color4)
}

#e{
  color:var(--color5) 
}

.no-background-alert{
  background: none !important;
  font-size: 0.7rem;
}

.grid-no-padding-top{
  padding-top: 0 !important;
}