:root {
  --pColor1: #0C1821;
  --pColor2: #1B2A41;
  --pColor3: #324A5F;
  --pColor4: #839788;
  --pColor5: #EDEBD7;
  --color1: #0C1821;
  --color2: #1B2A41;
  --color3: #324A5F;
  --color4: #839788;
  --color5: #edebd7;
  --color1-30: rgba(12, 24, 33, 0.3);
  --color2-30: rgba(27, 42, 65, 0.3);
  --color3-30: rgba(50, 74, 95, 0.3);
  --color4-30: rgba(131, 151, 136, 0.3);
  --color5-30: rgba(237, 235, 215, 0.3);
  color: var(--light-dark-color-1);
  background-color: var(--light-dark-color-2);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--color5);
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0 !important;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  max-width: 500px;
  width: 100%;
}

.color1 {
  color: var(--color1);
}

.color2 {
  color: var(--color2);
}

.color3 {
  color: var(--color3);
}

.color4 {
  color: var(--color4);
}

.color5 {
  color: var(--color5);
}

.no-background-alert {
  background: none !important;
  font-size: 0.7rem;
}

.vignette {
  position: relative;
  overflow: hidden;
}

.vignette:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to bottom, var(--color1) 0%, transparent 80%);
}

.vignette:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, var(--color1) 0%, transparent 80%);
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden;
}

.textContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 4px 4px 4px var(--color1);
  z-index: 2;
  text-align: center;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Montserrat {
  font-family: Montserrat !important;
}

.header-placeholder {
  display: block;
  height: 64px;
}

@media screen and (max-width: 600px) {
  .header-placeholder {
    height: 48px; 
  }
}

.MuiDialogContent-root{
  background-color: var(--color5);
}

.MuiTextField-root{
  background-color: white;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.errorGrid{
  padding-top: 0 !important;
}